* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}

/* HANDER */
.flex-container {display: flex;}
.text-white {color: white;}
.text-black {color: black;}
.text-indigo {color: #8ea1e1}
.bg-gray {background-color: #e6e6e6;}
.bg-indigo {background-color: #8ea1e1;}
/* --- */

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

#bar-wrapper {
    padding: 1.2rem;
}

#bar {
    justify-content: space-between;
}

#bar > div, nav, button {
    padding: 0.5rem;
}

button {
    all: unset;
    cursor: pointer;
    border-radius: 40px;
    height: 40px;
    padding: 0 0.7rem;
    text-align: center;
    background-color: white;
    font-weight: 700;
}

#logo {
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

#jumbo-box {
    width: 46rem;
    min-height: 25rem;
    margin: 3rem auto;
    text-align: center;
}

h1, h2 {
    font-size: 60px;
    margin-top: 2rem;
}

header p, main p {
    font-size: 20px;
    margin: 4rem 0 2.5rem 0;
    font-weight: 700;
}

main p {
    margin: 2.5rem 0;
}

#jumbo-box button {
    margin: 2rem;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
}

header i, main i {
    padding-right: 0.5rem;
}

.bg-black {
    background-color: black;
}

nav {
    justify-content: center;
    align-items: center;
    width: 60%;
    font-weight: 700;
}

a {
    all: unset;
    cursor: pointer;
    padding: 0.2rem;
}

#login {
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.boxed {
    width: 75rem;
    margin: auto;
}

.wave-img {
    width: 100%;
    opacity: 0.1;
    display: block;
}

.flipped {
    transform: scaleY(-1);
}

main > div {
    padding: 3rem;
}

.main-box {
    min-height: 34.5rem;
}

#reverse {
    flex-direction: row-reverse;
}

.main-box .big-col {
    width: 60%;
}

.main-box .small-col {
    width: 40%;
}

#main-last-box {
    min-height: 56rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#main-last-box img {
    width: 1250px;
    height: 650px;
}

#main-last-box p {
    width: 85%;
    margin: 3rem auto 5rem;
}

#main-last-box h3 {
    font-size: 1.5rem;
    font-weight: 800;
    background-image: url(../img/stars.svg);
    padding: 2.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-repeat: no-repeat;
}

#main-last-box button {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 6rem;
}

footer {
    background-color: #23272a;
}

.footer-box {
    min-height: 36rem;
    padding: 0.6rem 0 3rem 0;
}

#footer-module-1 .small-col {
    width: 30%;
    padding: 3rem;
}

.small-col > h3 {
    font-size: 1.8rem;
    font-weight: 800;
}

.small-col > div {
    display: flex;
    margin: 2rem 0 1.5rem;
    align-items: center;
}

.small-col div:last-child span {
    margin-right: 1rem;
}

#italian-flag {
    height: 1.25rem;
}

#footer-module-1 .big-col {
    width: 70%;
    padding: 3rem;
}

.mini-col {
    width: 25%;
    height: 100%;
}

.mini-col p {
    margin-top: 1rem;
}

#footer-module-2 {
    padding: 2rem 0 0 0;
}

#footer-container {
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;
}


#footer-container div {
    padding: 0.2rem 0.4rem;
}

hr {
    border-color: #8ea1e1;
}

a:hover {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(142,161,225,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(142,161,225,1);
    box-shadow: 0px 0px 4px 1px rgba(142,161,225,1);
}

#lang-select {
    background-color: transparent;
    border: none;
}